<div class="main-body">
    <div class="container form-container">
        <h1 class="heading text-center">Master Settings</h1>
        <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" id="settingsForm">
          
          <div class="form-group">
            <label for="businessName">Business Name</label>
            <input type="text" class="form-control form-control-sm" id="businessName" formControlName="businessName" placeholder="Enter Business Name">
            <div *ngIf="settingsForm.get('businessName')?.invalid && settingsForm.get('businessName')?.touched" class="text-danger">
              Business Name is required.
            </div>
          </div>
          <div class="form-group">
            <label for="businessMobile">Business Mobile</label>
            <input type="text" class="form-control form-control-sm" id="businessMobile" formControlName="businessMobile" placeholder="Enter Business Mobile">
            <div *ngIf="settingsForm.get('businessMobile')?.invalid && settingsForm.get('businessMobile')?.touched" class="text-danger">
              Valid Business Mobile number is required.
            </div>
          </div>
      
          <div class="form-group">
            <label for="businessEmail">Business Email</label>
            <input type="email" class="form-control form-control-sm" id="businessEmail" formControlName="businessEmail" placeholder="Enter Business Email">
            <div *ngIf="settingsForm.get('businessEmail')?.invalid && (settingsForm.get('businessEmail')?.dirty || settingsForm.get('businessEmail')?.touched)" class="invalid-feedback">
              <div *ngIf="settingsForm.get('businessEmail')?.hasError('required')">Business Email is required.</div>
              <div *ngIf="settingsForm.get('businessEmail')?.hasError('email')">Please provide a valid email address.</div>
            </div>
          </div>
      
          <div class="form-group">
            <label for="businessAddress">Business Address</label>
            <input type="text" class="form-control form-control-sm" id="businessAddress" formControlName="businessAddress" placeholder="Enter Business Address">
            <div *ngIf="settingsForm.get('businessAddress')?.invalid && settingsForm.get('businessAddress')?.touched" class="text-danger">
              Business Address is required.
            </div>
          </div>
          <div class="form-group">
            <label for="businessGstNumber">Business GST Number</label>
            <input type="text" class="form-control form-control-sm" id="businessGstNumber" formControlName="businessGstNumber" placeholder="Enter Business GST Number">
            <div *ngIf="settingsForm.get('businessGstNumber')?.invalid && settingsForm.get('businessGstNumber')?.touched" class="text-danger">
              Business GST Number is required.
            </div>
          </div>
          <div class="form-group file-input-group">
            <label for="businessLogo">Choose Logo</label>
            <input type="file" class="form-control-file" id="businessLogo" accept="image/*" (change)="onFileChange($event)">
            <img [src]="logoPreview || data?.businessLogo" id="logoPreview" class="logo-img" *ngIf="logoPreview || data?.businessLogo" alt="Business Logo">
          </div>
          
          <button type="submit" class="btn btn-primary btn-lg btn-center" style="width: 200px;">Update</button>
        </form>
         <div *ngIf="isLoading" class="loader-container">
            <mat-spinner mode="indeterminate"></mat-spinner>
      </div>
      </div>
</div>