<div class="main-body">
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid"> 
            <a class="navbar-brand" href="#">
                <img class="nav-img me-1 mb-1" [src]="data?.businessLogo" alt="Business Logo">
                <strong class="dancing-script">{{data?.businessName}}</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item" [class.active]="isActive('POS')">
                        <a class="nav-link" routerLink="" (click)="setActive('POS')"><strong><i class="fa-solid fa-tag"></i> POS</strong></a>
                    </li>

                    <li class="nav-item" [class.active]="isActive('CATEGORY')">
                        <a class="nav-link" routerLink="/category-list" (click)="setActive('CATEGORY')"><strong><i class="fa-solid fa-layer-group"></i> CATEGORY</strong></a>
                    </li>

                    <li class="nav-item" [class.active]="isActive('PRODUCTS')">
                        <a class="nav-link" routerLink="/product" (click)="setActive('PRODUCTS')"><strong><i class="fas fa-box"></i> PRODUCTS</strong></a>
                    </li>

                    <li class="nav-item" [class.active]="isActive('SETTING')">
                        <a class="nav-link" routerLink="/setting-master" (click)="setActive('SETTING')"><i class="fa-solid fa-gear"></i> <strong> SETTING</strong></a>
                    </li>

                    <li class="nav-item" [class.active]="isActive('REPORT')">
                        <a class="nav-link" routerLink="/report" (click)="setActive('REPORT')"><i class="fa-solid fa-chart-simple"></i> <strong> REPORT</strong></a>
                    </li>
                </ul>
            </div>
            <a class="nav-link" routerLink="/login"><strong><i class="fa-solid fa-right-from-bracket"></i> LOGOUT</strong></a>
        </div>
    </nav>
</div>
