<div class="main-body">
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img     class="nav-img me-1 mb-1" style="background-color: white;"src="https://res.cloudinary.com/dh8v09eaj/image/upload/v1723351924/logo.png" alt=""><strong>TasteHaven</strong></a>
            <a class="navbar-brand mt-1" href="#"><img class="nav-img me-1 mb-1" alt=""><strong><i class="fa-solid fa-tag"></i> POS</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/category-list"><strong><i class="fa-solid fa-table-cells-large"></i> Category</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/product"><strong><i class="fa-brands fa-product-hunt"></i> Product</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/setting-master"><i class="fa-solid fa-chart-simple"></i> <strong>Setting</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-chart-simple"></i> <strong>Report</strong></a>
                    </li>
                </ul>
            </div>
            <a class="nav-link" routerLink="/login"><strong><i class="fa-solid fa-right-from-bracket"></i> LogOut</strong></a>
        </div>
    </nav>

</div>