<!-- add-customer-form.component.html -->
<!-- add-customer-form.component.html -->
<alert *ngFor="let alert of alerts; let i = index" [type]="alert.type" (onClosed)="closeAlert(i)">
  {{ alert.msg }}
</alert>
<div class="dialog-container">
  
    <h2>Add New Customer</h2>
    <form [formGroup]="addCustomerForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Enter Name</mat-label>
        <input matInput formControlName="customerFullName" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter Mobile Number</mat-label>
        <input matInput formControlName="customerMobileNumber" required>
      </mat-form-field>
      <div class="button-group">
        <button mat-button type="submit" [disabled]="addCustomerForm.invalid">Save</button>
        <button mat-button mat-dialog-close>Cancel</button>
      </div>
    </form>
  </div>
  
