.product-row {
    display: flex;
    flex-wrap: wrap; /* Changed to nowrap to prevent wrapping to new lines */
    gap: 10px;
    max-height: 600px;
    padding-top: 10px;
    width: 100%;
}

.product-card {
    box-sizing: border-box;
    flex: 0 0 calc(16.666% - 15px); /* Adjusted to fit 6 items per row with gap */
    margin-bottom: 10px;
}
.product-card img:hover {
    transform: scale(1.2);
}
.product-card img {
    width: 100%;
    height: 100px; /* Fixed height for images */
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    transition: transform 0.5s ease;
}
.product-card p {
    text-align: center;
    margin: 0;
    padding: 10px;
    height: 40px; /* Fixed height for text */
    width: 120px;
    overflow-y: auto;
    white-space: normal; /* Allows the text to wrap and scroll vertically */
    scrollbar-width: none; /* For Firefox */
}
/* Hide scrollbar for Webkit browsers */
.product-card p::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
.search-container {
    display: flex;
    align-items: center;
    position: relative;
}
.Search-bar {
    width: 100%;
    padding-left: 30px;
}
.Search-bar:focus {
    border-color: #b55add;
    box-shadow: 0 0 5px #b55add;
    outline: none;
}
.search-icon {
    position: absolute;
    left: 10px;
    color: #aaa;
    margin-left: 13px;
    margin-top: 2px;
}
.Search-bar:hover,
.Category:hover {
    border: 1px solid rgb(139, 16, 139);
}
